<!DOCTYPE html>
<html lang="es">
<head>
	<title>Pizzeria de David</title>
	<meta charset="utf-8"/>
	<title>Pizzeria de David y Marco</title>
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../static/css/estilos_menu.css">
</head>
<body>
	<header>
		<h1>Pizzeria de David</h1>
		<nav>
			<ul>
				<li><a href="pizzeria.html">Promociones</a></li>
				<li><a href="menu.html">Menu</a></li> 
				<li><a href="">Servicio a domicilio</a></li>
				<li><a href="">Sucursales</a></li>
			</ul>
		</nav>
	</header>
	<div class="promocion main">
		<h2>Menú</h2>
	</div>
	<center>
		<table class="tablaMenu">
			<tr>
				<td width="100" class="esp">Sabor</td>
				<td width="100" class="esp">Ingredientes</td>
				<td width="100" class="esp">Foto</td>
			</tr> 
			<tr>
				<td>Hawaiana</td> 
				<td>Queso, salsa de tomate, jamon, piña.</td>
				<td><img src="../static/img/hawaiana.jpeg"></td>
			</tr>
			<tr>
				<td>Mexicana</td>
				<td>Queso, salsa de tomate, choriso, jalapeño , frijoles , cebolla.</td>
				<td><img src="../static/img/mexicana.jpeg"></td>
			</tr>
			<tr>
				<td>Vegetariana</td>
				<td>Queso, salsa de tomate, tomate, cebolla, albahaca. </td>
				<td><img src="../static/img/vegetarian.jpeg"></td>
			</tr>
			<tr>
				<td>Italiana</td>
				<td>Queso, salsa de tomate, salchicha Italiana, aceituna negra.</td>
				<td><img src="../static/img/italiana.jpeg"></td>
			</tr>
			<tr>
				<td>De queso</td>
				<td>Queso ,(opcional) queso EXTRA, salsa de tomate.</td>
				<td><img src="../static/img/dequeso.jpeg"></td>
			</tr>
			<tr>
				<td>De Peperoni</td>
				<td>Queso, salsa de tomate, Peperoni.</td>
				<td><img src="../static/img/peperoni.jpeg"></td>
			</tr>
			<tr>				
				<td>Al gusto </td>
				<td>Los que usted escoja.</td>
				<td>I<img src="../static/img/algusto.jpeg"></td>
			</tr>
		</table>
	</center>
	<footer>
		<p>Hecho por David Duran Miranda</p>
	</footer>	
</body>
<html>