<!DOCTYPE html>
<html lang="es">
<head>
	<title>Pizzeria de David</title>
	<meta chasert="utf-8"/>
	<title>Pizzeria de David y Marco</title>
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
</head>
<body>
	<header>
		<h1>Pizzeria de David</h1>
		<nav>
			<ul>
				<li><a href="pizzeria.html">Promociones</a></li>
				<li><a href="menu.html">Menu</a></li> 
				<li><a href="">Servicio a domicilio</a></li>
				<li><a href="">Sucursales</a></li>
			</ul>
		</nav>
	</header>
	<div class="promocion main">
		<h2>Servicio a domicilio</h2>
		<p>Estamos parsa servirles, puede ordenar aqui su pizza.</p>	
	</div>
	<form action=""metod="">
		<input type="text" name="nombre_cliente" placeholder="Nombre"/>
 		<input type="tel" name="telefono" placeholder="Telefono"/>

		<p>Direccion</p>
 		<input type="text" name="colonia" placeholder="Colonia"/>
		<input type="text" name="calle" placeholder="Calle"/>	
		<input type="text" name="numero_casa" placeholder="Numero"/>
		<p>Ingredientes</p>
		<input type="checkbox" name="queso" value="Queso"/>Queso
		<input type="checkbox" name="peperoni" value="Peperoni"/>Peperoni	
		<input type="checkbox" name="frijoles" value="Frigoles"/>Frigoles
	</form>



	<footer>
		<p>Hecho por David Duran Miranda</p>
	</footer>	
</body>
<html>